.searchbar-section {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 35px;
    position: relative;
    transform: rotate(1deg);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.searchbar-title {
    background: linear-gradient(45deg, #d4a574, #e6c394);
    color: #4a4238;
    padding: 12px 25px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    transform: rotate(-2deg);
    box-shadow: 0 6px 16px rgba(212, 165, 116, 0.3);
    position: absolute;
    top: -30px;
    left: -10px;
    z-index: 10;
}

.search-form {
    margin: 14px auto;
    display: flex;
    gap: 10px;
    width: 70%;
}

.search-input-container {
    flex: 1;
    position: relative;
}

.search-input {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #bda58e;
    border-radius: 40px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-input:focus {
    border-color: #7b6958;
}

.search-icon {
    color: #fff;
}

.search-btn {
    height: 48px;
    width: 48px;
    cursor: pointer;
    border-radius: 50%;
    background: linear-gradient(45deg, #d4a574, #e6c394);
    text-align: center;
    transition: background-color .25s;
    border: 0px;
}

.search-btn:hover {
    background: linear-gradient(5deg, #d4a574, #e6c394);
}