.playlist-section {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 35px;
    position: relative;
    transform: rotate(1deg);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.playlist-header {
    margin-bottom: 10px;
}


.playlist-title {
    background: linear-gradient(45deg, #d4a574, #e6c394);
    color: #4a4238;
    padding: 12px 25px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    transform: rotate(-2deg);
    box-shadow: 0 6px 16px rgba(212, 165, 116, 0.3);
    position: absolute;
    top: -40px;
    left: -10px;
    z-index: 10;
}

.name-input {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #bda58e;
    border-radius: 40px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

.name-input:focus {
    border-color: #7b6958;
}

.playlist-tracks {
    margin-bottom: 0px;
}

.playlist-track-item {
    align-items: center;
    margin-bottom: 0px;
}



.empty-playlist {
    text-align: center;
    padding: 30px 0;
}

.empty-icon {
    width: 48px;
    height: 48px;
    color: #c5b4a4;
    margin: 0 auto 12px;
}

.empty-text {
    color: #6b7280;
    margin: 0 0 0px 0;
}



.save-btn {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background: linear-gradient(45deg, #d4a574, #e6c394);
    color: #4a4238;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transform: rotate(-2deg);
    transition: all 0.3s ease;
    margin: 20px auto;
    box-shadow: 0 5px 15px rgba(212, 165, 116, 0.3);

}

.save-btn:hover {
    background: linear-gradient(5deg, #d4a574, #e6c394);
}


.save-icon {
    width: 20px;
    height: 20px;
}